venv
.idea
.DS_Store
make_concentration_graphs_JEH.zip
*.TIF
*.xlsx
*.pyc
*.png
test_MED_CTD/metadata_output/output_analysis_parameters.txt
*.eps
*.nd
test_empty/metadata_output/output_analysis_parameters.txt
